.pagination {
  position: fixed;
  bottom: 0;
  background: #333;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;

  .BtnNextPrev {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 200px;
    background: #222;
    color: #fff;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.3s ease all;

    &:hover {
      background: #137c32;
    }

    @media (max-width: 768px) {
      height: 40px;
      width: 100px;
      font-size: 10px;
    }
  }

  @media (max-width: 768px) {
    gap: 10px;
  }

  .pageNumberList {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 30px;
    background: #222;
    color: #fff;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.3s ease all;

    &:hover {
      background: #137c32;
    }

    &.active {
      background: #137c32;
    }

    @media (max-width: 768px) {
      width: 20px;
    }

  }


}

.pagination-invisible {
  display: none;
}