.loading {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
  color: rgb(109, 101, 101);
  margin-right: 100px;




  .loaderStyle {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    color: #000000;


    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
      color: rgb(0, 2, 145);
      transform: rotateY(70deg);
      animation-delay: .4s;
    }


    @keyframes rotate {
      0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
      }

      100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
      }
    }

    @keyframes rotateccw {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
        transform: translate(-50%, -50%) rotate(-360deg);
      }
    }

    @keyframes spin {

      0%,
      100% {
        box-shadow: .2em 0px 0 0px currentcolor;
      }

      12% {
        box-shadow: .2em .2em 0 0 currentcolor;
      }

      25% {
        box-shadow: 0 .2em 0 0px currentcolor;
      }

      37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
      }

      50% {
        box-shadow: -.2em 0 0 0 currentcolor;
      }

      62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
      }

      75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
      }

      87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
      }
    }
  }
}

.Arrived {
  display: none;
}