.title-products {
  font-size: 2.4rem;
  padding: 5rem 0 0 2rem;
  color: #333;
  z-index: -2;
}

.products {
  padding: 3px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
  padding-bottom: 80px;

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba($color: #333, $alpha: 0.2);
    border: 6px solid transparent;
    border-radius: 5px;
    width: 97%;
    height: 620px;
    z-index: 0;

    .product_img {
      img {
        width: 100%;
        height: 350px;
        border-radius: 5px;
      }
    }


    .product_footer {
      padding: 1rem;
      height: 180px;

      .body {
        height: auto;
      }

      h1 {
        font-weight: 600;
        font-size: 1.5rem;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
      }

      p {
        font-weight: 700;
        color: rgba($color: #000000, $alpha: 0.555);
        text-transform: uppercase;
        font-size: 13px;
      }

      .platform {
        color: #000000;
        padding-top: 5px;
      }
    }

    .button {
      width: 95%;
      height: 45px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem 3rem;

      .btn {
        border: none;
        outline: 0;
        cursor: pointer;
        border-radius: 5px;
      }

      button {
        background-color: rgb(30, 44, 86);
        max-width: 250px;
        width: 100%;
        margin: 0 auto;
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: 600;
      }

      div {
        background-color: #08a05c;
        display: grid;
        align-items: center;
        text-align: center;
        margin-left: -2rem;
        border-radius: 5px;

        a {
          color: #ffffff;
          font-weight: 700;
        }

        a:hover {
          color: #ffffff;
        }
      }
    }
  }

  .product:hover {
    border: 5px solid #333;
  }
}