.comment {
  font-size: 15px;
  width: 600px;
  background-color: rgb(224, 206, 206);
  gap: 10px;

  li {
    .upperData {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .gameTitle {
        font-size: 15px;
        display: flex;
        font-weight: 700;

        p {
          font-size: 15px;
          text-align: center;
          margin-left: 15px;
        }
      }

      .dateTitle {}
    }
  }

}